body{
	background-image: url("../images/math.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
#back{
	height:50px;
	border-width:50px;
	text-align:'left';
}
#next{
	height:70px;
	border-width:70px;
	text-align:'right';
}
